<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:type" content="{{site.type}}" />
    <meta property="og:title" content="{{title}}" />
    <meta name="description" content="{{site.description}}" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:image" content="{{site.ogimage}}" />
    <link href="{{assets}}/css/styles.min.css" rel="stylesheet">
    <link href="{{assets}}/img/favicon.ico" rel="shortcut icon" type="image/ico" />
    <script src="https://use.fontawesome.com/3ca1480440.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body">
    {{> body }}
    <!-- Our JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{assets}}/js/app.js"></script>
</body>
</html>
