<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Docs: {{title}}</title>
        <link href="{{assets}}/css/docs.min.css" rel="stylesheet">
        <link href="{{assets}}/css/styles.min.css" rel="stylesheet">
        <link href="{{assets}}/img/favicon.ico" rel="shortcut icon" type="image/ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
{{> body }}
        <script src="{{assets}}/js/app.js"></script>
    </body>
</html>
